(
    extends: Some("base_object"),

    name: Some((
        name: "BaseCreature"
    )),

    actor: Some((
        stats: (
            strength: 10,
            agility: 10,
            intelligence: 10,
        )
    )),

    renderable: Some((
        glyph: '!',
        fg_color: (255,255,255),
        bg_color: None,
        elevation: Upright
    )),

    seeing: Some((
    )),

    mobile: Some((
    )),

)