(
    name: Some((
        name: "BaseFloor"
    )),

    random_renderable: Some((
        glyphs: ".....,",
        fg_colors: [(100,100,100),(80,100,100),(80,80,100),(80,80,80),(100,80,80),(80,100,80)],
        bg_colors: Some([(20, 20, 20),(22, 22, 22),(18, 18, 20)]),
        elevation: Floor,
    )),
)