(
    name: Some((
        name: "BaseFloor"
    )),

    random_renderable: Some((
        glyphs: "=-",
        fg_colors: [(25,25,25),(30,25,25),(30,30,25),(30,30,30),(25,30,30),(30,25,30)],
        bg_colors: Some([(20, 20, 20),(22, 22, 22),(18, 18, 20)]),
        elevation: Floor,
    )),
)