(
    name: Some((
        name: "BaseFloor"
    )),

    random_renderable: Some((
        glyphs: "......,",
        fg_colors: [(40,40,40),(38,40,40),(38,38,40),(38,38,38),(40,38,38),(38,40,38)],
        bg_colors: Some([(20, 20, 20),(22, 22, 22),(18, 18, 20)]),
        elevation: Floor,
    )),
)