(
    name: Some((
        name: "BaseWall"
    )),

    random_renderable: Some((
        glyphs: "MN",
        fg_colors: [(140, 120, 120)],
        bg_colors: Some([(90, 70, 80),(90, 80, 70),(90, 80, 90)]),
    )),

    elevation: Some(Upright),

    corporeal: Some((
        max_hp: 10,
        hp: 10,
        base_damage: 10
    )),

    blocks_movement: Some(()),
    blocks_sight: Some(()),
)