(
    name: Some((
        name: "BaseObject"
    )),

    renderable: Some((
        glyph: '?',
        fg_color: (50,50,50),
        bg_color: Some((10,10,10)),
    )),

    elevation: Some(OnFloor),


    corporeal: Some((
        max_hp: 10,
        hp: 10,
        base_damage: 10
    )),
)